/c/Users/Admin/Desktop/Amdocs/devops_assignement/assignment/src/main/java/com_hide_all/one.java
/c/Users/Admin/Desktop/Amdocs/devops_assignement/assignment/src/main/java/com_hide_all/two.java
/c/Users/Admin/Desktop/Amdocs/devops_assignement/assignment/src/main/java/com_hide_all/three.java
/c/Users/Admin/Desktop/Amdocs/devops_assignement/assignment/src/main/java/com_hide_some/one.java
/c/Users/Admin/Desktop/Amdocs/devops_assignement/assignment/src/main/java/com_hide_some/two.java
